* {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    margin-top: 150px;
    font-size: xxx-large;
    text-align: center;
    color:#F9E8CF;
}
#sb {
    background-color:#F9E8CF;
    border-width: 0px;
    width:89%;
    height: 20px;
}
body {
    background-color: #121212;
}
.first {
    background-color: #F9E8CF;
    border-radius: 10px;
    border-width: 0px;
    height: 40px;
    width:50%; 
    justify-self: center; 
    margin-top: 10px;
 }


.searchbutton{
    width: 29px;
    height: 29px;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    justify-items: left;
    
}
.searchlist{
    width: 29px;
    height: 29px;
    display: inline-block;
    justify-items: right;
    margin-left: 10px;
}
.sec {
    background-color: #F9E8CF;
    border-radius: 10px;
    border-width: 0px;
    height: 180px;
    width:50%; 
    justify-self: center; 
    padding-top: 20px ;
    padding-bottom: 10px;
 }
 #cat{
    background-color:#C60C00;
    color:#F9E8CF;
    font-size: 19px;
    border-radius: 7px;
    
 }
 .cpp{
    margin-left: 20px;
 }
 #pri1, #pri2, #pri3{
    margin-left: 15px;
 }
 label{
    font-size: 20px;
    color:black;
 }
#subsearch{
    color:#F9E8CF;
    background-color:#C60C00;
    border-width: 0px;
    border-radius: 20px;
    padding-block: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    justify-self: center;
    font-size: large;
}
/* nav bar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
      
    body {
    font-family: Arial, sans-serif;
    color: #f7e4c6;
    background-color: #121212;
    }
      
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d80000; 
    padding: 10px 20px;
    }
      
    .logo {
    font-size: 20px;
    font-weight: bold;
    color: #f7e4c6;
    }
      
    .navbar a {
    margin: 0 10px;
    color: #f7e4c6;
    text-decoration: none;
    }
      
    .header-right {
    display: flex;
    align-items: center;
    }
      
    .search-icon img {
    width: 24px; 
    height: 24px;
    margin-right: 10px; 
    cursor: pointer;
    }
      
    .sign-in {
    padding: 10px 20px;
    background-color: #f7e4c6; 
    color: #d80000; 
    border: 2px solid #f7e4c6; 
    border-radius: 30px; 
    font-weight: bold;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    }
    
    .sign-in:hover {
    background-color: #d80000; 
    color: #f7e4c6; 
    }